<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Spam Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="{{ url_for('index') }}">Home</a>
            {% if session.user %}
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
            {% endif %}
        </div>
        <div class="nav-right">
            {% if session.user %}
                <div class="profile-pic">
                    <img src="{{ session.user.picture }}" class="avatar" alt="Profile">
                    <div class="dropdown">
                    <a href="{{ url_for('logout') }}" class="signIn">Logout</a>
                </div>
                </div>
            {% else %}
                <a href="{{ url_for('google.login') }}" class="signIn">Continue with Google</a>
            {% endif %}
        </div>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
